@charset "utf-8";
/* PC ================================================== */
@media all and (min-width:960px){
	.hero-image	{
		width: 100%;
		padding-top: 80px;
		position: relative;
		z-index: 800;
	}
    .merit {
        width: 100%;
        margin: 100px auto;
    }
    .cmn-ttl {
		width: 250px;
        font-size: 36px;
		text-align: center;
		margin: 0 auto;
		border-bottom: 1.5px solid #FFFFFF;
    }
	.merit-points {
		width: 80%;
		margin: 80px auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.point-item {
		width: calc((100% / 3) - 40px);
		margin: 0 20px 0 0;
	}
	.point-image {
		width: 100%;

	}
	.point-txt-area {
		padding: 20px 0 0;
	}
	.point-num {
		font-size: 20px;
		display: flex;
		align-items: center;
		padding-left: 5px;
	}
	.point-num::before {
		content: '';
		width: 1px;
		height: 20px;
		margin-right: 5px;
		background-color: #fff;
	}
	.point-txt {
		margin-top: 10px;
		font-size: 1.4em;
		text-align: left;
	}
    .work-flow {
		padding: 40px 0;
    }
	.work-flow-contents {
		width: 100%;
		margin: 80px auto 60px;
	}
	.work-flow-item {
		width: 650px;
		height: auto;
		margin: 0 auto;
		border-radius: 20px;
		background-color: #FFFFFF;
	}
	.item-inner {
		width: 100%;
		padding: 20px 20px;
		margin: 0 auto 20px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start
	}
	.item-txt-area {
		width: calc(100% - 200px);
		margin: 0 20px 0 0;
	}
	.item-top {
		width: 100%;
		margin-bottom: 15px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.circle {
		width: 44px;
		height: 44px;
		border-radius: 100%;
		background-color: #F3FA9F;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.circle p {
		font-size: 30px;
	}
	.item-ttl {
		margin-left: 10px;
	}
	.time {
		font-size: 1.5em;
	}
	.work-ttl {
		font-size: 1.8em;
	}
	.item-txt {
		font-size: 1.4em;
	}
	.item-image {
		width: 200px;
		height: auto;
	}
	.arrow {
		width: 72px;
		margin: 20px auto;
	}
	.link-area {
		width: 80%;
		margin: 50px auto;
	}
	.link-txt {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.link-txt a {
		font-size: 2.0em;
		color: #000000;
		border-bottom: 1px solid #FFFFFF;
	}
	
}

/* Tablet ================================================== */
@media all and (min-width:560px) and (max-width:959px){
	.hero-image	{
		width: 100%;
		padding-top: 60px;
		position: relative;
		z-index: 800;
	}
    
	.merit {
        width: 100%;
        margin: 100px auto;
    }
    .cmn-ttl {
		width: 250px;
        font-size: 3.0em;
		text-align: center;
		margin: 0 auto;
		border-bottom: 1.5px solid #FFFFFF;
    }
	.merit-points {
		width: 80%;
		margin: 80px auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.point-item {
		width: calc((100% / 2) - 10px);
		height: auto;
		margin: 0 0 60px 0;
	}
	.point-image {
		width: 80%;
		margin: 0 auto;
	}
	.point-txt-area {
		padding: 10px 0 0;
	}
	.point-num {
		font-size: 2.2em;
		display: flex;
		align-items: center;
		padding-left: 5px;
	}
	.point-num::before {
		content: '';
		width: 1px;
		height: 20px;
		margin-right: 5px;
		background-color: #fff;
	}
	.point-txt {
		margin-top: 10px;
		font-size: 1.8em;
		text-align: left;
	}
    .work-flow {
		padding: 40px 0;
    }
	.work-flow-contents {
		width: 100%;
		margin: 80px auto 60px;
	}
	.work-flow-item {
		width: 97%;
		height: auto;
		margin: 0 auto;
		border-radius: 20px;
		background-color: #FFFFFF;
	}
	.item-inner {
		width: 100%;
		padding: 20px 20px;
		margin: 0 auto 20px;

	}
	.item-txt-area {
		width: 100%;
		margin-bottom: 20px;
	}
	.item-top {
		width: 100%;
		margin-bottom: 15px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.circle {
		width: 44px;
		height: 44px;
		border-radius: 100%;
		background-color: #F3FA9F;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.circle p {
		font-size: 3.0em;
	}
	.item-ttl {
		width: calc(100% - 50px);
		margin-left: 10px;
	}
	.time {
		font-size: 1.8em;
	}
	.work-ttl {
		font-size: 2.0em;
	}
	.item-txt {
		font-size: 1.8em;
	}
	.item-image {
		width: 76%;
		height: auto;
		margin: 0 auto;
	}
	.arrow {
		width: 72px;
		margin: 20px auto;
	}
	.link-txt {
		margin: 0 0 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.link-txt a {
		font-size: 2.0em;
		color: #000000;
		border-bottom: 1px solid #FFFFFF;
	}
}

/* SP ================================================== */
@media all and (max-width:559px){
	.hero-image	{
		width: 100%;
		padding-top: 60px;
		position: relative;
		z-index: 800;
	}
	.merit {
        width: 100%;
        margin: 100px auto;
    }
    .cmn-ttl {
		width: 250px;
        font-size: 2.3em;
		text-align: center;
		margin: 0 auto;
		border-bottom: 1.5px solid #FFFFFF;
    }
	.merit-points {
		width: 80%;
		margin: 80px auto;
	}
	.point-item {
		width: 100%;
		margin: 0 0 30px 0;
	}
	.point-image {
		width: 76%;
		margin: 0 auto;
	}
	.point-txt-area {
		padding: 10px 0 0;
	}
	.point-num {
		font-size: 18px;
		display: flex;
		align-items: center;
		padding-left: 5px;
	}
	.point-num::before {
		content: '';
		width: 1px;
		height: 20px;
		margin-right: 5px;
		background-color: #fff;
	}
	.point-txt {
		margin-top: 10px;
		font-size: 14px;
		text-align: left;
	}
    .work-flow {
		padding: 40px 0;
    }
	.work-flow-contents {
		width: 100%;
		margin: 80px auto 60px;
	}
	.work-flow-item {
		width: 97%;
		height: auto;
		margin: 0 auto;
		border-radius: 20px;
		background-color: #FFFFFF;
	}
	.item-inner {
		width: 100%;
		padding: 20px 20px;
		margin: 0 auto 20px;

	}
	.item-txt-area {
		width: 100%;
		margin-bottom: 20px;
	}
	.item-top {
		width: 100%;
		margin-bottom: 15px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.circle {
		width: 44px;
		height: 44px;
		border-radius: 100%;
		background-color: #F3FA9F;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.circle p {
		font-size: 3.0em;
	}
	.item-ttl {
		width: calc(100% - 50px);
		margin-left: 10px;
	}
	.time {
		font-size: 1.5em;
	}
	.work-ttl {
		font-size: 1.6em;
	}
	.item-txt {
		font-size: 1.6em;
		margin: 0 0 20px;
	}
	.item-image {
		width: 76%;
		height: auto;
		margin: 0 auto;
	}
	.arrow {
		width: 72px;
		margin: 20px auto;
	}
	.link-txt {
		margin: 0 0 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.link-txt a {
		font-size: 2.0em;
		color: #000000;
		border-bottom: 1px solid #FFFFFF;
	}

}